spacy
spacypdfreader
gensim
pyLDAvis
wordcloud
streamlit
matplotlib
nltk
pandas
streamlit_option_menu
plotly
clean-text
autocorrect
wordsegment
opencv-python
pytesseract
transformers
torch
sentencepiece